body {
    overflow-x: hidden;
}

.backg {
    background-color: #ff7e19;
}


/* logo font */

#navlogo {
    font-family: 'Otomanopee One', sans-serif;
    text-decoration: none;
}

.item1 {
    display: flex
}

.item2 {
    display: flex
}

.item3 {
    display: flex
}


/* to make dropdown hoverable */

.drop a {
    text-decoration: none;
    display: block;
}

.ddown:hover .drop {
    display: block;
}

.section1>h1 {
    z-index: 1;
    text-align: center;
    padding-top: 3px;
    text-decoration: underline;
    text-underline-offset: 7px;
    font-size: 60px;
}

.section1 {
    color: white;
}

.section1 img.first {
    position: absolute;
    z-index: -1;
    /* opacity: 0.8; */
    filter: brightness(70%);
}

.section1 img.second {
    position: absolute;
    z-index: -2;
    /* opacity: 0.8; */
    filter: brightness(70%);
}

.item2>li>a>p,
.item1>li>a>p {
    text-align: center;
}

.section1>p {
    text-align: center;
    padding: 10px 157px;
    font-size: 20px;
}

.section1>h4 {
    text-align: center;
    padding-top: 145px;
    /* text-decoration: underline overline; */
    font-style: italic;
}

.section1>h4:after {
    content: "";
    display: block;
    width: 67px;
    height: 2px;
    background: white;
    right: 579px;
    top: 30%;
    position: absolute;
}

.section1>h4:before {
    content: "";
    display: block;
    width: 67px;
    height: 2px;
    background: white;
    left: 579px;
    top: 30%;
    position: absolute;
}


/* image transition */

.section1 img.first {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}

@keyframes cf3FadeInOut {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/* searchbutton */

.sear {
    border-radius: 21px;
    padding-left: 34px;
}

.sbtn {
    background-color: #fbf745;
    color: black;
    border-color: black;
    box-shadow: -2px 2px 0px 1px rgb(29, 41, 211);
    font-family: cursive;
    font-weight: bold;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.sbtn:hover {
    background-color: rgb(53, 204, 15);
    border-radius: 25px;
}

.search1 {
    display: flex;
}

.search1 img {
    width: 26px;
    height: 27px;
    z-index: 2;
    padding: 3px 3px;
    margin: 6px -34px;
}

.navbtn {
    color: black;
    filter: brightness(1500%);
    font-family: "Changa One", cursive;
}

.navbtn1 {
    color: rgb(33, 173, 192);
}

.navbtn:hover {
    text-decoration: underline overline;
    text-underline-offset: 3px;
    color: yellow;
}


/* Section-2 */

.section2 {
    border: 2px solid black;
    margin-top: 328px;
}

.section2>h1 {
    text-align: center;
    font-size: 52px;
    margin-top: 43px;
}

.section2>p {
    text-align: center;
    padding: 19px 347px;
}


/* utility */

.fontstyle {
    font-family: "Changa One", cursive;
}

.for_slick_slider {
    display: flex;
    justify-content: space-between;
}

.for_slick_slider .itemsl {
    width: 350px;
    height: 350px;
    margin: 40px;
    margin-top: 127px;
    margin-left: 55px;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
}

.for_slick_slider .itemsl .overlay {
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    position: absolute;
}

.for_slick_slider .itemsl img {
    width: 350px;
    height: 230px;
    transition: all linear .6s;
    border: 5px solid honeydew;
}

.for_slick_slider .slick-center img {
    /* width: 390px;
    height: 250px; */
    transform: scale(2);
    border: 4px solid honeydew;
    box-shadow: 2px 2px 11px 1px rgb(224, 224, 231);
}

.for_slick_slider .slick-center .overlay {
    opacity: 0;
}

.for_slick_slider button {
    height: 31px;
    margin-top: 211px;
    font-size: 0px;
    background: transparent;
    padding: 0;
    border: none;
    z-index: 9;
}


/* arrow */

.slick-prev:before {
    content: "";
    background: url('../image/arrow.svg');
    width: 20px;
}

.slick-next:before {
    content: "";
    background: url('../image/arrow.svg');
    width: 20px;
    transform: rotate(180deg);
}

.slick-prev:before,
.slick-next:before {
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px solid;
    font-family: "Material Design Icons";
    font-size: 26px;
    line-height: 42px;
    color: #696362;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 250ms;
}

.slick-prev:hover:before,
.slick-next:hover:before {
    filter: invert(50);
    /* background: greenyellow; */
    border-color: purple;
}